includes:
	- phpstan.neon.dist

parameters:
	scanDirectories:
		- vendor/civicrm/civicrm-core/api
		- vendor/civicrm/civicrm-core/CRM
		- vendor/civicrm/civicrm-packages
	bootstrapFiles:
		- vendor/autoload.php
	# Because we test with different versions in CI we may have unmatched errors.
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# Errors we get when using "prefer-lowest"

		# Required with civicrm/civicrm-core <6.1.0
		- '#^Call to an undefined static method Civi::rebuild\(\).$#'

		# Required with civicrm/civicrm-core <6.6.0
		- '#^Call to an undefined method Civi\\Api4\\Generic\\AutocompleteAction::setSearchField\(\).$#'

		# Required with symfony/event-dispatcher <4.4.27
		- '#::getSubscribedEvents\(\) return type has no value type specified in iterable type array.$#'
